<launch>
   <node pkg="jarvis_executive" name="listener_stub" type="listener_stub.py"/>
   <node pkg="jarvis_executive" name="user_interface_stub" type="user_interface_stub.py"/>
   <node pkg="jarvis_executive" name="human_intent_stub" type="human_intent_stub.py"/>
   <node pkg="jarvis_executive" name="jarvis_planner_stub" type="jarvis_planner_stub.py"/>
</launch>
